@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
    font-family: 'Roboto';
    text-decoration: none;
}

.container {
    max-width: 950px;
    padding: 0 15px;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
    z-index: 2;
    max-width: 175px;
    height: 100%;
}

.header-nav {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0 0 0;
    height: 60px;
}

.header-ul ul {
    display: flex;
    gap: 29px;
}

.header-ul li {
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 700;
    display: flex;
}

.header-ul a {
    font-size: 24px;
    color: rgb(0, 0, 0);

}

a.active,
a:hover {
    background: none;
    transition: .5s;
}

.hamburguer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 8px;
    position: relative;
    cursor: pointer;
    z-index: 2;
    display: none;
}

.hamburguer span {
    display: block;
    width: 24px;
    height: 3px;
    background: white;
    position: relative;
    transition: all 200ms ease-in-out;
}

.hamburguer span::before {
    content: "";
    width: 24px;
    height: 3px;
    background: white;
    position: absolute;
    top: -8px;
    left: 0;
    transition: all 200ms ease-in-out;
}

.hamburguer span::after {
    content: "";
    width: 24px;
    height: 3px;
    background: white;
    position: absolute;
    bottom: -8px;
    left: 0;
    transition: all 200ms ease-in-out;
}

.hamburguer.active span {
    height: 0;
}

.hamburguer.active span::before {
    top: 0;
    left: 0;
    transform: rotate(-225deg);
}

.hamburguer.active span::after {
    top: 0;
    left: 0;
    transform: rotate(225deg);
}
.container-row {
    background-color: #E5E5E5;
    display: flex;
}

.container-row>div {
    padding-top: 100px;
}

.container-row-img {
    background-color: #C4C4C4;
    text-align: center;
    width: 80%;
    height: 854px;
    padding: 100px 0 0;
}

/* .img-principal {
    align-items: right;
    min-width: 500px;
    max-width: 800px;
    min-height: 250px;
    max-height: 440px;
} */

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    justify-content: left;
    background-color: #e5e5e5;
    font-size: 50px;
    height: 533px;

}
.text-container h1{
    position: absolute;
    width: 357px;
    height: 327px;
    left: 111px;
    top: 190px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
}
.text-container p {
    position: absolute;
    width: 342px;
    height: 57px;
    left: 111px;
    top: 483px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #9C9696;
}
.text-container h2{
    position: absolute;
    width: 220px;
    height: 42px;
    left: 111px;
    top: 561px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;

}

 #botao {
    position: absolute;
    width: 274px;
    height: 90px;
    left: 111px;
    top: 633px;
    background-color: #FF0000;
    color: white;
}


.rodape {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 1440px;
    width: 100%;
    height: 180px;
    left: 0px;
    top: 855px;
}
.rodape h3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodape-color {
    display: flex;
    background-color: black;
    color: white;
    width: 437px;
    height: 166px;
    left: 1003px;
    top: 914px;
}
.rodape-color h3{
    position: absolute;
    top: 50%;
    right: 150px;
}


/* @media (max-width: 1228px) and (min-width: 998px) {
    .container {
        flex-direction: column;
    }

    .text-container {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 28px;
    }

    .text-container h1,
    .text-container h2,
    .text-container p {
        text-align: center;
        flex-direction: column;
    }

    .container-img {
        flex-direction: column;
        display: 100%;
    }

    .miniatura {
        flex-direction: column;
        display: 100%;
    }

    footer {
        flex-direction: column;
    }
} */

@media (max-width: 800px) {
    .container {
        padding: 0 20px;
    }

    .header-nav {
        margin: 0;
    }

    .header-ul {
        display: none;
    }

    .hamburguer {
        display: flex;
    }

    .header-ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        background-color: rgb(18, 25, 228);
        top: 0;
        left: -100vw;
        width: 100%;
        height: 100%;
        padding-top: 80px;
        z-index: 1;
        visibility: hidden;
        transition: all 500ms ease-in-out;
    }

    .header-ul li {
        font-size: 18px;
    }

    .header-ul a {
        color: white;
    }

    .header-ul.show {
        left: 0;
        visibility: visible;
    }

    .header-ul.show li:first-child {
        border-top: 1px solid rgb(225, 12, 12);
    }

    .header-ul.show li {
        border-bottom: 1px solid rgb(201, 9, 9);
    }

    #pesquise {
        display: none;
    }
}